<% if not big_image.nil? and not big_image.photo.nil? %>
	<div class="<%= frame_class %> search-image-bottom">
		<% shadow_frame do %>
			<div class="big-images" style="width: 405px; height: 307px;">
				<center>
					<%= link_to "#{image_tag(big_image.photo.url(:medium))}", :controller => :main, :action => :show_house, :id => house_id, :house_type => house_type %>
				</center>
			</div>
		<% end %>
		<div class="clearer"></div>
		<h2 class="search-result-bottom">
			<a href="<%= url_for(:controller => :main, :action => :show_house, :id => house_id, :house_type => house_type) %>">
				<b style="color: red; margin-right: 10px;"><%= house_special_offer %></b><span><%= house_title %></span><span style="color: #999999;">&#187</span>
			</a>
		</h2>
<!--
    <h5 style="margin-left: 10px;margin-top:0px;">
      <%= link_to 'Эту виллу можно купить', :controller => "main", :action => "show_house", :id => house_id, :house_type => "sale" %>
		</h5>
 -->
	</div>
<% end %>

