<% content_for :meta do %>
  <%= render :partial => 'templates/meta', :object => @main_page %>
<% end %>

<% content_for :head do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $.preload('#image-container img', {
      placeholder:"<%= image_path('big_missing.gif') %>",
      notFound:"<%= image_path('big_missing.gif') %>"
      })
    });
</script>
<% end %>

<div id="content">
  <div id="content-column-1">
    <div class="sub-content-1 no-border">
      <h1><%= h @main_page.title %></h1>
      <div>
        <%= @main_page.body %>
      </div>
    </div>
  </div>
  <div id="content-column-2">
    <% if not @main_photo.nil? then %>
      <div id="big-image">
        <% shadow_frame do %>
          <div id="image-container">
            <center>
              <% if not @main_photo.nil? then %>
                <%= image_tag @main_photo.photo.url(:medium), :width => "300px" %>
              <% end %>
              <br />
              <h2><%= house_title_link(@house) unless @house.nil? %></h2>
            </center>
          </div>
        <% end %>
      </div>
      <div class="clearer">&nbsp;</div>
    <% end %>
    <div class="pre-search">
      <%= link_to "все предложения", :controller => :main, :action => :catalog %>
    </div>
    <div class="search-form">
      <%= render :partial => 'main/templates/search_form' %>				
    </div>
    <div class="right-bottom-content">
      <%= @main_page.right_bottom_content %>
    </div>
  </div>
  <div class="clearer">&nbsp;</div>
</div>
