<% content_for :top_menu do %>
  <%= link_to "Добавить", new_admin_asset_path %>
  <%= link_to "Назад", '/admin' %>
<% end %>

<table>
  <tbody>
      <tr>
        <td>#</td>
        <td>Название</td>
        <td>Относительная ссылка(http://www.dreamydays.ru/{ссылка})</td>
      </tr>
      <% for a in @assets %>
        <tr>
          <td><%= a.id %></td>
          <td><%= a.document_file_name %></td>
          <td><%= a.document.url %></td>
        </tr>
      <% end %>
  </tbody>
</table>
