<% content_for :top_menu do %>
  <%= link_to "Добавить", new_admin_asset_path %><br />
  <%= link_to 'Назад', admin_assets_path %>
<% end %>

<h3>Добавить ресурс</h3>

<% form_for([:admin, @asset], :html => { :multipart => true } ) do |f| %>
  <%= f.error_messages %>

  <p><%= f.file_field :document %></p>
  <p><%= f.submit 'Добавить' %></p>
<% end %>
