<p>Ссылка на страницу:
<% if defined? page_action %>
	<%= link_to "#{url_for( :only_path => false, :controller => :main, :action => page_action )}", :controller => :main, :action => page_action %>
<% end %>
</p>
<p>
  <%= f.label :title, "Заголовок" %><br />
  <%= f.text_field :title, :style => "width: 100%" %>
</p>
<p><%= f.label :meta_keywords, "Мета слова(meta keywords):" %></p>
<p><%= f.text_area :meta_keywords, :rows => 5, :style => "width: 100%" %></p>
<p><%= f.label :meta_description, "Мета описание(meta description):" %></p>
<p><%= f.text_area :meta_description, :rows => 5, :style => "width: 100%" %></p>
<% if f.object.respond_to?(:body) %>
  <div>
    <%= f.label :comment, "Содержание" %><br />
    <%= f.text_area("body", :class => "mceEditor", :width => '100%', :height => '400px') %>
  </div>
  <br />
<% end %>
<% if f.object.respond_to?(:right_bottom_content) %>
  <div>
    <%= f.label :comment, "Нижний правый текст" %><br />
    <%= f.text_area("right_bottom_content", :class => "mceEditor", :width => '100%', :height => '400px') %>
  </div>
<% end %>
