<% content_for :top_menu do %>
  <%= link_to "Добавить", new_admin_banner_path %><br />
  <%= link_to "Назад", admin_banners_path %>
<% end %>

<a href="<%= @banner.url %>"><img src="<%= @banner.banner.url %>" /></a>
<%= link_to "Удалить", [:admin, @banner], :confirm => "Вы действительно хотите удалить?", :method => :delete %>

