<p>
<% if f.object.new_record? %>
    <%= f.file_field :document %>&nbsp;
    <%= f.check_box :is_visible %><%= f.label :is_visible, "Показывать на странице дома?" %>
<% else %>
  <%= f.object.document_file_name %>
  <%= f.check_box :is_visible %><%= f.label :is_visible, "Показывать на странице дома?" %>&nbsp;&nbsp;
<% end %>
</p>
