<div id="container">
  <%= javascript_include_tag 'forms', 'delegate' %>
  <script type="text/javascript">
    //<![CDATA[
      var asset='<%= generate_template(f, :assets) %>';
      var photo='<%= generate_template(f, :photos) %>';
    //]]>
  </script>

  <p>Заголовок страницы</p>
  <p><%= f.text_field :page_title %></p>
  <p>Комментарий администратора</p>
  <div>
    <%= f.text_area("admin_comment", :class => "mceEditor", :width => '100%', :height => '150px') %>
  </div>
  <p>Тип дома: <%= f.select :house_type_id, HouseType.all.collect{|house_type| [house_type.title, house_type.id]}, :include_blank => false %></p>
  <p><%= f.check_box :is_main %><%= f.label :is_main, "Будет ли дом отображаться на главной странице?" %></p>
  <p><%= f.check_box :is_visible, {:checked => true} %><%= f.label :is_visible, "Будет ли дом отображаться в каталоге?" %></p>
  <div>
    <p>При поиске будет фильтроваться под данному полю</p>
    <p><%= select("house", "price_id", Price.find(:all).collect {|p| [p.title, p.id] }, :name => "house[price_id]") %></p>
    <p><%= select("house", "location_id", Location.find(:all).collect {|p| [p.title, p.id] }, :name => "house[location_id]") %></p>
    <p><%= select("house", "number_id", Number.find(:all).collect {|p| [p.title, p.id] }, :name => "house[number_id]") %></p>
  </div>
  <table class="admin-table">
    <tbody>
      <tr>
        <td>
          <%= f.label :title, "Заголовок" %><br />
          <%= f.text_field :title %>
        </td>
        <td>
          <%= f.label :catalog_title, "Заголовок в каталоге" %><br />
          <%= f.text_field :catalog_title %>
        </td>
        <td>
          <%= f.label :special_offer, "Заголовок для специального предложения" %><br />
          <%= f.text_field :special_offer %>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <%= f.label :comment, "Комментарий" %><br />
    <%= f.text_area("comment", :class => "mceEditor", :width => '100%', :height => '150px') %>
  </div>
  <div>
    <%= f.label :text, "Текст" %><br />
    <%= f.text_area("text", :class => "mceEditor", :width => '100%', :height => '150px') %>
  </div>
  <div>
    <%= f.label :bottom_text, "Нижний текст" %><br />
    <%= f.text_area("bottom_text", :class => "mceEditor", :width => '100%', :height => '150px') %>
  </div>
  <div>
    <%= f.label :sale_bottom_text, "Sale Нижний текст" %><br />
    <%= f.text_area("sale_bottom_text", :class => "mceEditor", :width => '100%', :height => '150px') %>
  </div>
  <div>
    <%= f.label :total_price, "Цена продажи" %><br />
    <%= f.text_area("total_price", :class => "mceEditor", :width => '100%', :height => '150px') %>
  </div>
  <table class="admin-table">
    <tbody>
      <tr>
        <td colspan="4" align="center">Высокий сезон</td>
      </tr>
      <tr>
        <td>
          <%= f.label :high_duration_1, "Первый период" %>
        </td>
        <td>
          <%= f.label :high_cost_day, "за день" %>
        </td>
        <td>
          <%= f.label :high_cost_week, "за неделю" %>
        </td>
        <td>
          <%= f.label :high_cost_month, "за месяц" %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.text_field :high_duration_1 %>
        </td>
        <td>
          <%= f.text_field :high_cost_day %>
        </td>
        <td>
          <%= f.text_field :high_cost_week %>
        </td>
        <td>
          <%= f.text_field :high_cost_month %>
        </td>
      </tr>
      <tr rowspan="2">
        <td>
          <%= f.label :high_duration_2, "Второй период" %>
        </td>
      </tr>
      <tr rowspan="2">
        <td>
          <%= f.text_field :high_duration_2 %>
        </td>
      </tr>
      <tr>
        <td colspan="4" align="center">Низкий сезон</td>
      </tr>
      <tr>
        <td>
          <%= f.label :low_duration_1, "Первый период" %>
        </td>
        <td>
          <%= f.label :low_cost_day, "за день" %>
        </td>
        <td>
          <%= f.label :low_cost_week, "за неделю" %>
        </td>
        <td>
          <%= f.label :low_cost_month, "за месяц" %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.text_field :low_duration_1 %>
        </td>
        <td>
          <%= f.text_field :low_cost_day %>
        </td>
        <td>
          <%= f.text_field :low_cost_week %>
        </td>
        <td>
          <%= f.text_field :low_cost_month %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :low_duration_2, "Второй период" %>
        </td>
      </tr>
      <tr rowspan="2">
        <td>
          <%= f.text_field :low_duration_2 %>
        </td>
      </tr>
    </tbody>
  </table>

  <div>
    <%= f.label :number_photo, "Номер картинки для отображения на главной странице(индексация с нуля)" %><br/>
    <%= f.text_field :number_photo %>
  </div>

  <div id="photos">
    <% f.fields_for :photos do |form| %>
      <%= render :partial => "/houses/photo", :locals => {:f => form} %>
    <% end %>
  </div>
  <p>
    <%= add_link("Добавить картинку", "photo") %>
  </p>

  <div id="assets">
    <% f.fields_for :assets do |form| %>
      <%= render :partial => "/houses/asset", :locals => {:f => form} %>
    <% end %>
  </div>
  <p><%= add_link("Добавить документ", "asset") %></p>

  <p><%= f.label :meta_keywords, "Мета слова(meta keywords):" %></p>
  <p><%= f.text_area :meta_keywords, :rows => 5, :style => "width: 100%" %></p>
  <p><%= f.label :meta_description, "Мета описание(meta description):" %></p>
  <p><%= f.text_area :meta_description, :rows => 5, :style => "width: 100%" %></p>
</div>
