<% content_for :top_menu do %>
  <%= render :partial => '/admin/articles/templates/top_menu' %>
  <%= link_to "Назад", admin_articles_path %>
<% end %>

<table>
  <tbody>
    <tr>
        <td><%=h @article.title %></td>
        <td>
            <a href="<%= url_for(:controller => "articles", :action => :show, :id => @article.id) %>">
              /articles/<%= @article.name || @article.id %>
            </a>
        </td>
        <td><%= link_to 'Редактировать', edit_admin_article_path(@article) %></td>
        <td><%= link_to 'Удалить', @article, 
								:confirm => 'Вы действительно хотите удалить?', 
								:method => :delete %></td>
        <td><%= link_to 'Назад', admin_articles_path %></td>
    </tr>
    <tr><td colspan="5"><%= @article.body %></td></tr>
  </tbody>
</table>

