<div id="header">
  <div id="logo">
    <%= link_to "#{image_tag("new_logo.png")}", root_path %>
  </div>
  <div id="header-content">
    <%= Header.first.content %>
  </div>
  <div id="header-right">
    <div>
      <div class="info"> 
        <h3>+7 66 843 085889</h3>
      </div>
      <div class="search">
        <% form_tag '/search' do %>
          <%= text_field_tag :query, "поиск", {:onclick => "if ($(this).attr('value') == 'поиск') $(this).attr('value', '');"} %>
          <%= image_submit_tag 'search3.png' %>
          <div class="clearer">&nbsp;</div>
        <% end %>
      </div>
      <div class='info'>
        <h4><%= link_to "Услуга Мы перезвоним!", '/main/phone_contacts' %></h4>
      </div>
    </div>
    <div class="clearer"></div>
    <div class="lang">
      <h4><%= link_to "#{image_tag('english.gif')}English", "/" %></h4>
    </div>
  </div>
  <div class="clearer">&nbsp;</div>
</div>
