<tr>
  <td><%=h main_menu.title %></td>
  <td><%=h main_menu.link %></td>
  <td><%= h main_menu.position %></td>
  <td><%= link_to 'Показать', [:admin, main_menu] %></td>
  <td><%= link_to 'Редактировать', edit_admin_main_menu_path(main_menu) %></td>
  <td><%= link_to 'Удалить', [:admin, main_menu], :confirm => 'Вы действительно хотите удалить?', :method => :delete %></td>
</tr>
