<% content_for :top_menu do %>
  <%= render :partial => 'admin/houses/templates/top_menu' %>
  <%= link_to "Назад", admin_houses_path %>
<% end %>

<h1>Редактировать дом.</h1>
<% form_for([:admin, @house], :html => { :multipart => true } ) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "admin/houses/form",  :locals => {:f => f} %>
  <p><%= submit_tag "Обновить" %></p>
<% end %>

