<% content_for :top_menu do %>
  <%= link_to "Добавить", new_admin_main_menu_path %><br />
  <%= link_to "Назад", admin_main_menus_path %>
<% end %>

<% form_for [:admin, @main_menu] do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title, "Заголовок" %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :link, "Ссылка" %><br />
    <%= f.text_field :link %>
  </p>
    <p>
    <%= f.label :position, "Позиция" %><br />
    <%= f.text_field :position %>
  </p>
  <p>
    <%= f.submit "Создать" %>
  </p>
<% end %>

