<% form_tag admin_new_session_path do |f| -%>
	<p>
		<%= label_tag :name, "Имя" %>
</p>
	<p>
		<%= text_field_tag :name %>
	</p>
	<p>
		<%= label_tag :password,"Пароль" %>
	</p>
	<p>
		<%= password_field_tag :password %>
	</p>
	<%= submit_tag 'Войти' %>
<% end -%>
